<h1>Welcome to the Pet Store</h1>
<p>Puppy kitty ipsum dolor sit good dog brush dragging nest wag tail pet. Throw dog house sit throw bedding licks pet supplies cat pet gate birds lol catz pet supplies kibble smooshy wet nose park. Shake whiskers Tigger cat sit feathers nap behavior kibble. Park tail Snowball wag tail dinnertime yawn cage vaccination bed cat pet gate Fido ID tag window. Buddy scratch pet gate litter box cockatiel biscuit bird seed fish litter bird food gimme five Scooby snacks bird food twine chow cage. Dragging right paw yawn lol catz toy house train slobbery polydactyl.Foot hamster teeth walk stripes water fluffy left paw commands lazy dog stripes parakeet dog house small animals furry wet nose cockatiel swimming.</p>

<h2>Different Currency Symbols</h2>

<p><strong>In USA</strong>: <%= number_to_currency(@price) %></p>
<p><strong>In United Kingdom</strong>: <%= number_to_currency(@price, locale: :uk) %></p>
<p><strong>In European Union</strong>: <%= number_to_currency(@price, locale: :eu) %></p>
<p><strong>In Japan (or China)</strong>: <%= number_to_currency(@price, locale: :jp) %></p>
<p><strong>In India</strong>: <%= number_to_currency(@price, locale: :in) %></p>
<p><strong>In United Arab Emirates</strong>: <%= number_to_currency(@price, locale: :uae) %></p>



